<%- include('layouts/head.ejs') %> <%- include('layouts/navigation.ejs') %> Home
File
<form action="/" method="post">
  <input type="text" name="user_name" id="user_name" />
  <button type="submit">Add User</button>
</form>
<%- include('layouts/end.ejs') %>
